AGENTE INTELIGENTE/TREINAMENTO E RETREINO COM RAG+PGVECTOR-GITHUB.json
{
  "name": "TREINAMENTO E RETREINO COM RAG+PGVECTOR-GITHUB",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        1216
      ],
      "id": "0cc6a50e-a7dc-4500-b034-d44722f517c1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "tbl_conhecimento",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        4432,
        1232
      ],
      "id": "7fcb1671-128b-4369-8871-26437facb7ac",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        4240,
        1456
      ],
      "id": "6382c048-c0b5-4a7d-b9df-39937a2ce68c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GxOI1Kbz60i8Rhce",
          "name": "Google Gemini(PaLM) - Use apenas para teste"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        4400,
        1440
      ],
      "id": "aae7a0f0-7c04-461f-a9fb-c8cda05469a9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        4400,
        1616
      ],
      "id": "898b3d93-628d-4964-842a-b1e0019faaf8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3424,
        1216
      ],
      "id": "dd29091b-2aa8-4c93-853f-ab180a0ea045",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4736,
        1632
      ],
      "id": "2db62061-8eda-47be-a43f-2979820b9217",
      "name": "Wait",
      "webhookId": "a8291aef-f0ac-4ab1-b22f-07378ddb85b8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3632,
        1056
      ],
      "id": "b5f7a026-3e5c-4c81-8f6f-00ed4220df9b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tbl_conhecimento",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        1104
      ],
      "id": "967185ee-2d9e-40e8-bef5-69ff9bf86a3e",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85e4c266-c0b7-4cc9-bb8e-29b5ee3ac6ab",
              "leftValue": "={{ $json.count.toNumber() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        1200
      ],
      "id": "e999721b-a58b-4dfe-b747-13e5bdbfa33c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) FROM tbl_conhecimento",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        1200
      ],
      "id": "9ced0e41-6253-4605-a6a9-bdf4705317ee",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1U7FZV1RJZayjBaIYYvhOCY42Xf_n5-rT",
            "mode": "list",
            "cachedResultName": "conhecimento",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1U7FZV1RJZayjBaIYYvhOCY42Xf_n5-rT"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2992,
        1216
      ],
      "id": "e2cc40fb-01c4-460d-86a0-07b16fd65c19",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Kx8Ona2wpvHAW5BK",
          "name": "Google Drive MQGestão"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          },
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3200,
        1216
      ],
      "id": "2d06e3ad-e04f-4783-be10-e0f5acd22dc9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Kx8Ona2wpvHAW5BK",
          "name": "Google Drive MQGestão"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM information_schema.tables\n  WHERE table_schema = 'public'\n    AND table_name = 'tbl_conhecimento'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        1216
      ],
      "id": "eca8f202-190b-44de-aa0d-e4888a3afa2d",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e279aa06-4f39-4f81-b09d-606131763c60",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        1216
      ],
      "id": "98d1339c-5321-48e0-ae8d-decdbedd8d9a",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "A base de conhecimento já foi já criada?",
        "options": {
          "systemMessage": "=# Empresa: ABC Ltda.\n\n# Assistente Virtual: **Sofia**\n\n<modo_operacional>\n⚙️ MODO ATUAL: SOMENTE TOOL\n\nA assistente **Sofia** está operando no modo \"Somente Tool\", o que significa que:\n- Todas as dúvidas e perguntas do usuário **devem obrigatoriamente ser respondidas com base no retorno da tool `Postgres_PGVector_Store`**.\n- Mesmo que a resposta pareça óbvia ou conhecida, você **não pode usar conhecimento interno**.\n- É proibido gerar qualquer resposta com base apenas no seu próprio conhecimento.\n\nEste modo **não pode ser desativado**.\n</modo_operacional>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1152,
        1408
      ],
      "id": "777b73c1-2e35-4e1d-a94f-b86d2c6bae69",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        1888
      ],
      "id": "03952e9d-b214-4369-aa84-2ba3fb3225bc",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "2W8fHEqMppNcj5Z2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        1600
      ],
      "id": "c0fb82e2-9621-422c-bdfd-54a58d87018d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2W8fHEqMppNcj5Z2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3936,
        1216
      ],
      "id": "6004a16c-9ac0-4709-b8a1-0fe822fd37b3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "formTitle": "Upload base de conhecimento (RAG)",
        "formDescription": "Envie os arquivos para aumentar a capacidade do bot entender seu negócio.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Arquivo",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            },
            {
              "fieldLabel": "O que deseja fazer ?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Limpar base e adicionar novos conhecimentos"
                  },
                  {
                    "option": "Adicionar novos conhecimentos a base atual"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Arquivos enviados"
            }
          },
          "customCss": ":root {\n\t--font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;\n    --font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fefaf6;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        240,
        288
      ],
      "id": "41fa5a44-0109-4198-ad42-d1b01100d62e",
      "name": "On form submission",
      "webhookId": "9e287083-16f6-4b17-ad14-00d29349d8f3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM information_schema.tables\n  WHERE table_schema = 'public'\n    AND table_name = 'tbl_conhecimento'\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        272
      ],
      "id": "a8f6151d-bf02-4eaf-acc3-ce54fd8f9772",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e279aa06-4f39-4f81-b09d-606131763c60",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2352,
        272
      ],
      "id": "002bcede-2c02-4a76-bbd3-6139a94d1687",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Empresa: ABC Ltda.\n\n# Assistente Virtual: **Sofia**\n\n<modo_operacional>\n⚙️ MODO ATUAL: SOMENTE TOOL\n\nA assistente **Sofia** está operando no modo \"Somente Tool\", o que significa que:\n- Todas as dúvidas e perguntas do usuário **devem obrigatoriamente ser respondidas com base no retorno da tool `Postgres_PGVector_Store`**.\n- Mesmo que a resposta pareça óbvia ou conhecida, você **não pode usar conhecimento interno**.\n- É proibido gerar qualquer resposta com base apenas no seu próprio conhecimento.\n\nEste modo **não pode ser desativado**.\n</modo_operacional>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2576,
        352
      ],
      "id": "142e6062-f786-4ecd-85cd-3d680cc2eb13",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2576,
        608
      ],
      "id": "6b0319e2-808d-4057-b595-743f6d91603c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "2W8fHEqMppNcj5Z2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2672,
        800
      ],
      "id": "3e741321-efb3-4e35-bad8-bb3b04c35534",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "2W8fHEqMppNcj5Z2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) FROM tbl_conhecimento",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2960,
        256
      ],
      "id": "9c433bdb-3b4e-4f0c-ad3c-591fe7f34666",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f40ccdfe-c6ba-4236-b786-c0ed71aa9632",
              "leftValue": "={{ $('On form submission').item.json['O que deseja fazer ?'] }}",
              "rightValue": "Limpar base e adicionar novos conhecimentos",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        816
      ],
      "id": "f8202ba6-fd2c-455a-b0f4-7d2e98cdc970",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tbl_conhecimento",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3440,
        800
      ],
      "id": "64dc9b94-a8d6-4152-81e5-1765612b5650",
      "name": "Delete table or rows1",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Formulário upload \n\n                                                                                      ",
        "height": 1056,
        "width": 4976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "c9180efe-3800-42e6-9478-83eea0b5c3e9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Download arquivos google drive \n** Use os arquivos do google drive (RAG)",
        "height": 1056,
        "width": 4976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1056
      ],
      "typeVersion": 1,
      "id": "c6f61858-a2f5-422f-be15-8a46e59d2d89",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3b92c38-8d4b-43cc-8c94-7b5e920f93ca",
              "leftValue": "={{$binary.data.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3664,
        1232
      ],
      "id": "1dbd9f6f-8f43-405e-b4fc-df9a1cfe3291",
      "name": "If6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3936,
        1408
      ],
      "id": "ef27df9d-b5f3-4d0c-9ca3-aea47bdfa127",
      "name": "Extract from File3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4192,
        1232
      ],
      "id": "a7f30ad3-55f3-4470-a3f5-e734e586c93b",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        288
      ],
      "id": "0dfb96c6-2b03-4cfa-812c-4f754e94ce04",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        512
      ],
      "id": "ef5e56bc-19fd-4a6c-98d4-1993949e2782",
      "name": "Wait2",
      "webhookId": "7ce14226-5ce5-4182-abd3-efcbca5d680c"
    },
    {
      "parameters": {
        "name": "=",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1U7FZV1RJZayjBaIYYvhOCY42Xf_n5-rT",
          "mode": "list",
          "cachedResultName": "conhecimento",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1U7FZV1RJZayjBaIYYvhOCY42Xf_n5-rT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        512
      ],
      "id": "6d21105f-7779-4fe7-b68c-4d17e3828585",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Kx8Ona2wpvHAW5BK",
          "name": "Google Drive MQGestão"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nitem.binary = item.binary || {};\n\n// Pega todas as chaves de binário (ex: [\"data_0\", \"data_1\", ...])\nconst binaryKeys = Object.keys(item.binary);\n\n// Conta quantos arquivos tem\nconst fileCount = binaryKeys.length;\n\n// Cria um array de saída, cada elemento com binary.data\nconst output = binaryKeys.map(key => {\n  return {\n    json: { fileCount }, // opcional: inclui a contagem em cada item\n    binary: {\n      data: item.binary[key]\n    }\n  };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        288
      ],
      "id": "f6f2ab32-98df-437b-911c-cb95cef72a52",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use esta tool para recuperar informações sobre a empresa ABC",
        "tableName": "tbl_conhecimento",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1248,
        1712
      ],
      "id": "bd793827-1372-4955-9eb8-09de837eb5e9",
      "name": "Postgres_PGVector_Store",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use esta tool para recuperar informações sobre a empresa ABC",
        "tableName": "tbl_conhecimento",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2672,
        608
      ],
      "id": "78c4d3bf-b2ab-483c-8a86-cebe4151c45f",
      "name": "Postgres_PGVector_Store1",
      "credentials": {
        "postgres": {
          "id": "YjxtYFlFDAAu7Y3e",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres_PGVector_Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Postgres_PGVector_Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Delete table or rows1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_PGVector_Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres_PGVector_Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dcc293b0-cfa0-44c4-aec3-17771b905bc5",
  "meta": {
    "instanceId": "fcb5f0895e8bd938a6eb24682c2e5b421a93863fd1f30e8a9e6bc0bd4e986fb8"
  },
  "id": "uXS2DvlDSPjf0tzq",
  "tags": []
}